@model First_Jqery_Project.Models.Student

@{
    ViewData["Title"] = "AddorEdit";
    Layout = null;
}

<br />
<h3 class=" text-center bg-info">Create Student Info</h3>

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.Id" onsubmit=" return jQueryAjaxPost(this)" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="StudentName" class="control-label"></label>
                        <input asp-for="StudentName" class="form-control" />
                        <span asp-validation-for="StudentName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FatherName" class="control-label"></label>
                        <input asp-for="FatherName" class="form-control" />
                        <span asp-validation-for="FatherName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="MotherName" class="control-label"></label>
                        <input asp-for="MotherName" class="form-control" />
                        <span asp-validation-for="MotherName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DateofBirth" class="control-label"></label>
                        <input type="date" asp-for="DateofBirth" class="form-control" />
                        <span asp-validation-for="DateofBirth" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <br />
          
            <div class="d-grid gap-2">
                <input type="submit" value="Submit"  class="btn btn-primary" />
                @*<button class="btn btn-primary" type="button">Button</button>*@
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
